<footer>
  <div class="wrap">
    <div class="block">
      <div class="item">
        <a href="/" {% if page.url == / %}class="current"{% endif %}>Top</a>
      </div>
{%- for item in site.data.navigation %}
      <div class="item">
        <a href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
      </div>
{%- endfor %}
    </div>
    <div class="block">
      <div class="sub-block">
        <div class="item"><div class="address">e-mail</div></div>
        <div class="item">{{ site.email }}</div>
      </div>
      <div class="sub-block">
        <div class="item"><div class="address">Twitter</div></div>
        <div class="item"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">@{{ site.twitter_username }}</a></div>
      </div>
      <!-- <div class="item">GitHub:</div>
      <div class="item">YouTube:</div> -->
    </div>
  </div>
  <div class="copyright">&copy;{{ site.copyright }}</div>
</footer>