<footer>
  <div class="wrap">
    <div class="block">
      <div class="item">
        <a href="/" {% if page.url == / %}class="current"{% endif %}>Top</a>
      </div>
      {% for item in site.data.navigation %}
      <div class="item">
        <a href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
      </div>
      {% endfor %}
    </div>
    <div class="block">
      <div class="item-r"><div class="address">e-mail</div>{{ site.email }}</div>
      <div class="item-r"><div class="address">Twitter</div><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">@{{ site.twitter_username }}</a></div>
      <!-- <div class="item">GitHub:</div>
      <div class="item">YouTube:</div> -->
    </div>
  </div>
  <div class="copyright">&copy;{{ site.copylight }}</div>
</footer>