{% if include.isOB == false %}
<div class="table-space">
  <table>
    <thead>
      <tr>
        <th>学年</th><th>学部</th><th>学科</th><th>人数</th>
      </tr>
    </thead>
    <tbody>
      {% include member-str-table.html grade=page.B1 gradename='1回生' %}
      {% include member-str-table.html grade=page.B2 gradename='2回生' %}
      {% include member-str-table.html grade=page.B3 gradename='3回生' %}
      {% include member-str-table.html grade=page.B4 gradename='4回生' %}
      {% include member-str-table.html grade=page.M1 gradename='M1' %}
      {% include member-str-table.html grade=page.M2 gradename='M2' %}
    </tbody>
  </table>
</div>
{% else %}
<div class="table-space">
  <table>
    <thead>
      <tr>
        <th>卒業年</th><th>学部</th><th>学科</th><th>人数</th>
      </tr>
    </thead>
    <tbody>
      {% include member-str-table.html grade=page.OB18 gradename='18年度卒' %}
      {% include member-str-table.html grade=page.OB19 gradename='19年度卒' %}
      {% include member-str-table.html grade=page.OB20 gradename='20年度卒' %}
    </tbody>
  </table>
</div>
{% endif %}