html {
  font-size: 625%;
  @media screen and (max-width: 480px) {
    font-size: calc(625% * 0.9);
  }
}

body {
  font-family: $base-font-family;
  font-size: .15rem;
  color: $text-color;
  background-color: $bg-color;
  letter-spacing: 1px;
}

header, main, footer {
  max-width: $content-width;
  margin: 0 auto;
}

li {
  // border: solid 1px tomato;
  margin: .07rem 0;
}
a {
  text-decoration: none;
  color: $link-base-color;
}
a:hover {
  text-decoration: none;
  color: $link-hover-color;
}
a:visited {
  text-decoration: none;
  color: $link-visited-color;
}

p {
  // border: solid 1px tomato;
  line-height: .2rem;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
h1 {
  font-size: .25rem;
  font-weight: normal;
}
h2 {
  // color: #0F9;
  // background-color: $bg-color-sub;
  margin-top: .40rem;
  border: solid 1.5px $brand-color;
  border-radius: 12px;
  padding: 8px 15px;
  font-size: .20rem;
  font-weight: normal;
}
h2:first-child {
  margin-top: 0;
}
h2:before {
  // border-right: solid 2px $brand-color;
  // color: $brand-color;
  // content: '●';
  // padding-right: 0.5em;
}
h3 {
  border-left: solid 8px $brand-color-sub;
  padding-left: 15px;
  font-size: .18rem;
  font-weight: normal;
}
h4 {
  font-size: .16rem;
  font-weight: normal;
}
h4:before {
  content: '★';
  // content: '●';
  padding-right: 7px;
  color: yellow;
}
h4:after {
  content: '★';
  padding-left: 7px;
  color: yellow;
}
h5 {
  // border: solid 1px $brand-color;
  margin-bottom: 10px;
  font-size: .16rem;
  font-weight: normal;
}
h5:before {
  // content: '★';
  content: '●';
  padding-right: 0.5em;
  color: greenyellow;
}

.table-space {
  // background-color: aqua;
  background-color: $bg-color-sub;
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 20px;
}
table {
  // background-color: #00d;
  // border: solid 2px #fff;
  empty-cells: hide;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: auto;
}
tr {
  // border: solid 1px aqua;
}
th, td {
  padding: 5px 8px;
  // border: solid 1px tomato;
}
