//
// 共通
//
.site-header, .page-content, .site-footer {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
}

//
// Site Header
//
.site-header {
  // border: solid 1px gold;
  // > * {border: solid 1px aqua;}
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  a.site-title {
    position: absolute;
    z-index: 10;
    transition-duration: 0.2s;

    &:hover {
      opacity: 0.8;
      // transform: scale(1.1);
      transition-duration: 0.2s;
    }
  }

  img.site-logo {
    max-width: none;
    width: 90px;
  }

  nav.site-nav {
    margin-left: 90px + $spacing-unit / 2;
  }

  ul.site-nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: ($spacing-unit / 2) 0;

    a.page-link {
      // border: solid 1px tomato;
      // font-size: 1rem;
      letter-spacing: 1px;
      color: $text-color;
      padding: 5px 10px;
      border-radius: 20px;
      transition: 0.2s;

      &:hover, &.current {
        background-color: $text-color;
        color: $bg-color;
        box-shadow: 0 0 10px 0 black;
        transition: 0.2s;
      }
    }
  }

  // 幅が狭くなってsite-navが折り返すタイミング
  @media screen and (max-width: 650px) {
    display: flex;
    align-items: center;

    a.site-title {
      position: relative;
    }

    img.site-logo {
      width: 70px;
    }

    nav.site-nav {
      margin-left: 0;
      flex-grow: 1;
    }
  }
}


//
// Page Content
//
.page-header {
  // border: solid 1px tomato;
  // > * {border: solid 1px aqua;}
  padding: 0;
  margin-bottom: $spacing-unit;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: $spacing-unit / 2;

  h1.page-title {
    margin: 0;
    font-size: 1.75rem;

    .subtitle {
      font-size: 1.5rem;
    }
  }

  .page-toc {
    font-size: 0.9375rem;
  }

  ul.toc-ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-unit / 2;
  }
}

main.page-content {
  // border: solid 1px greenyellow;
  margin-bottom: $spacing-unit;

  $space: $spacing-unit / 2;

  h2 {
    margin-left: -$space;
    margin-right: -$space;
    padding: $space/3 $space;
    border: solid 1.5px $brand-color;
    border-radius: 12px;
  }

  h3 {
    border-left: solid $space/2 $brand-color-sub;
    padding-left: $space;
  }

  h4 {
    &:before {
      content: '★';
      padding-right: $space / 3;
      color: yellow;
    }
    &:after {
      content: '★';
      padding-left: $space / 3;
      color: yellow;
    }
  }

  h5 {
    &:before {
      content: '●';
      padding-right: 0.5em;
      color: greenyellow;
    }
  }


  table {
    $table-border-radius: $spacing-unit / 2;
    $table-border-width: 1px;
    $cell-border-width: 1px;
    $cell-border-color: $table-border-color;
    
    border-radius: $table-border-radius;
    border: solid $table-border-width $table-border-color;
    background-color: $table-border-color;
    box-shadow: $box-shadow;

    caption {
      margin-bottom: 5px;
    }

    // 横ボーダー（border-top）
    :not(
      :is(&, thead, tbody:not(thead ~ tbody))
      > tr:first-of-type
    ) > :is(th, td):not(.no-row-border *):not(.no-row-border)
    {
      border-top: solid $cell-border-width $cell-border-color;
    }

    // 縦ボーダー（border-right）
    &.col-border
    th + td:not(:last-child):not(.no-col-border):not(.no-col-border *)
    {
      border-left: solid $cell-border-width $cell-border-color;
    }
    &.col-border
    td:not(:last-child):not(.no-col-border):not(.no-col-border *)
    {
      border-right: solid $cell-border-width $cell-border-color;
    }

    // セルのスタイル
    &:not(.left-header) th {
      color: $table-header-text-color;
      background-color: $table-header-bg-color;
      border-bottom: solid 2px $table-border-color-02;
    }
    tr {
      color: $table-text-color;
      background-color: $table-bg-color;
    }
    &:not(.no-zebra) :is(
      thead ~ tbody > tr:is(:nth-child(even):not(.zebra-odd), .zebra-even),
      :not(thead ~ tbody) > tr:is(:nth-child(odd):not(.zebra-even), .zebra-odd)
    ) {
      background-color: $table-zebra-bg-color;
    }

    // 四隅のセルを角丸に
    :is(&, thead, tbody:not(thead ~ *)) > tr:first-of-type
    {
      :first-child {border-top-left-radius: $table-border-radius;}
      :last-child {border-top-right-radius: $table-border-radius;}
    }
    :is(:last-child > tr:last-child > :first-child, tr > .b.l):not(.c) {
      border-bottom-left-radius: $table-border-radius;
    }
    :is(:last-child > tr:last-child > :last-child, tr > .b.r):not(.c) {
      border-bottom-right-radius: $table-border-radius;
    }
  }

}


//
// Site Footer
//
.site-footer {
  // > * {border: solid 1px aqua;}
  border-top: solid 1px $brand-color;
  padding-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit * 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  gap: $spacing-unit / 2;

  @media screen and (max-width: 680px) {
    nav.site-nav,
    .social-links {
      flex-grow: 1;
    }
  }

  ul.site-nav-list {
    // > * {border: solid 1px gold;}
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-unit / 2;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    a {
      color: $brand-color-sub;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .copyright {
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
  }
}


// 画像を横に並べる
// _includes/images.html
.img-container {
  @extend %vertical-rhythm;
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-unit / 2;
  justify-content: space-around;
  align-items: flex-start;

  img{
    width: 100%;
    max-width: 300px;
  }
}

// youtube レスポンシブ

@media screen and (min-width: 480px) {
  .youtube-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    // grid-gap: 15px;
    justify-items: center;
  }
}

$youtube-width: 80%;

.youtube {
  position: relative;
  width: $youtube-width;
  padding-top: calc(#{$youtube-width} * 9 / 16);
  margin: 20px auto;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

// twitter
.twitter-tweet {
  // background-color: green;
  margin: auto;
  max-width: 300px !important;
  @media screen and (max-width: 350px) {
    display: none !important;
  }
  iframe {
    margin: 0 -10px;
    
  }
}
