//
//  main.scss
//  共通設定的な。
//

.wrapper {
  // background-color: darkgreen;
  margin: 0 20px;
}

//
// Site Header
//
.site-header {
  // border: solid 1px gold;
  // > * {border: solid 1px aqua;}
  margin: $spacing-unit 0;
}

a.site-title {
  position: absolute;
  z-index: 10;
  padding: 0 $spacing-unit / 2;

  &:hover {
    opacity: 0.9;
    transition: 100ms;
  }
}

img.site-logo {
  max-width: none;
  width: 90px;
}

nav.site-nav {
  margin-left: 90px + $spacing-unit;
}

ul.site-nav-list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: $spacing-unit / 2;
  
  a.page-link {
    // border: solid 1px tomato;
    font-size: .17rem;
    color: $text-color;
    padding: 2px 10px;
    border-radius: 20px;

    &:hover, &.current {
      background-color: $text-color;
      color: $bg-color;
      transition: 100ms;
    }
  }
}


//
// Page Header
//
.page-title-area {
  @media screen and (max-width: 635px) {
    margin-top: -10px;
  }
  
  .inner {
    // border: solid 1px aqua;

    @media screen and (min-width: 635px) {
      min-height: 70px;
      padding: 0 100px;
    }

    display: grid;
    grid-row-gap: 10px;
    align-content: center;

    h1.page-title {
      // border: solid 1px tomato;
      margin: 0px;
      text-align: center;
      display: grid;
      grid-row-gap: 5px;
      .subtitle {
        font-size: 90%;
      }
    }

    // 目次
    // _includes/general/toc.html
    .toc-area {
      // border: solid 1px tomato;
      display: flex;
      // @media screen and (max-width: 635px) {
      //   display: none;
      // }

      ul.toc-ul {
        // background-color: yellow;
        padding: 0;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
      }
      li.toc-li {
        // border: 1px solid aqua;
        margin: 2px 10px;
        list-style: none;
        font-size: 90%;
        // flex: 1 0 1;
      }
      .toc-a {
        // color: $brand-color;
        // border: 1px solid $brand-color;
        // padding: 0px 10px;
      }
    }
  }
}


//
// Page Content
//
main {
  // border: solid 1px greenyellow;
}

.content.pages .inner {
  // border: solid 1px greenyellow;
  margin: 10px;
  h2 {
    margin-left: -10px;
    margin-right: -10px;
  }
}

footer {
  margin-top: 30px;
  border-top: solid 1px $brand-color;
  padding-top: 10px;
  nav {
      display: block;
    a {
      display: inline-block;
      margin: 6px 10px;
    }
  }
  @media screen and (max-width: 680px) {
    nav{
      text-align: center;
    }
    .sns {
      text-align: center;
      margin: 5px 0;
    }
  }
  @media screen and (min-width: 680px) {
    nav{
      float: left;
    }
    .sns {
      text-align: right;
    }
  }
  .copyright {
    // background: aqua;
    text-align: center;
    font-size: .12rem;
    margin-top: 15px;
  }
}

//
// code block style
//
@import url(monokai.css);
// @import url(github.css);
.highlight, .highlighter-rouge{
  margin: 5px 0;
}
pre {
  // border: solid 1px aqua;
  margin: 0;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
}

// 画像を横に並べる
// _includes/images.html

.img-list {
  display: grid;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  grid-gap: 15px;
  justify-items: center;
}
.img-list img{
  width: 100%;
  max-width: 300px;
}

// youtube レスポンシブ

@media screen and (min-width: 480px) {
  .youtube-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    // grid-gap: 15px;
    justify-items: center;
  }
}

$youtube-width: 80%;

.youtube {
  position: relative;
  width: $youtube-width;
  padding-top: calc(#{$youtube-width} * 9 / 16);
  margin: 20px auto;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

// twitter
.twitter-tweet {
  // background-color: green;
  margin: auto;
  max-width: 300px !important;
  @media screen and (max-width: 350px) {
    display: none !important;
  }
  iframe {
    margin: 0 -10px;
    
  }
}
