//
//  main.scss
//  共通設定的な。
//

.wrapper {
  // background-color: darkgreen;
  margin: 0 20px;
}

.site-header, .page-content, .site-footer {
  max-width: $content-width;
  margin: 0 auto;
  padding: 0 $spacing-unit;
}

//
// Site Header
//
.site-header {
  // border: solid 1px gold;
  // > * {border: solid 1px aqua;}
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;

  a.site-title {
    position: absolute;
    z-index: 10;

    &:hover {
      opacity: 0.9;
      transition: 100ms;
    }
  }

  img.site-logo {
    max-width: none;
    width: 90px;
  }

  nav.site-nav {
    margin-left: 90px + $spacing-unit / 2;
  }

  ul.site-nav-list {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: $spacing-unit / 2;
    
    a.page-link {
      // border: solid 1px tomato;
      font-size: 1rem;
      color: $text-color;
      padding: 2px 10px;
      border-radius: 20px;

      &:hover, &.current {
        background-color: $text-color;
        color: $bg-color;
        transition: 100ms;
      }
    }
  }
}


//
// Page Content
//
.page-header {
  // border: solid 1px tomato;
  // > * {border: solid 1px aqua;}
  padding: 0;
  margin-bottom: $spacing-unit;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: $spacing-unit / 2;

  h1.page-title {
    margin: 0;
    font-size: 1.75rem;
    text-align: center;

    .subtitle {
      font-size: 1.5rem;
    }
  }

  .page-toc {
    width: 100%;
  }

  ul.toc-ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-unit / 2;
  }
}

main.page-content {
  // border: solid 1px greenyellow;
  margin-bottom: $spacing-unit;

  $space: $spacing-unit / 2;

  h2 {
    margin-left: -$space;
    margin-right: -$space;
    padding: $space/2 $space;
    border: solid 1.5px $brand-color;
    border-radius: 12px;
  }

  h3 {
    border-left: solid $space/2 $brand-color-sub;
    padding-left: $space;
  }

  h4 {
    &:before {
      content: '★';
      padding-right: $space / 3;
      color: yellow;
    }
    &:after {
      content: '★';
      padding-left: $space / 3;
      color: yellow;
    }
  }

  h5 {
    &:before {
      content: '●';
      padding-right: 0.5em;
      color: greenyellow;
    }
  }


  table {
    $table-border-radius: $spacing-unit / 2;
    $table-border-width: 1px;
    $cell-border-width: 1px;
    $cell-border-color: $table-border-color;
    
    border-radius: $table-border-radius;
    border: solid $table-border-width $table-border-color;
    background-color: $table-border-color;
    box-shadow: 0px 0px 10px 0px black;

    caption {
      margin-bottom: 5px;
    }

    // 横ボーダー（border-top）
    :not(
      :is(&, thead, tbody:not(thead ~ tbody))
      > tr:first-of-type
    ) > :is(th, td):not(.no-row-border *):not(.no-row-border)
    {
      border-top: solid $cell-border-width $cell-border-color;
    }

    // 縦ボーダー（border-left）
    &.col-border
    :is(td):not(:first-child):not(.no-col-border):not(.no-col-border *)
    {
      border-left: solid $cell-border-width $cell-border-color;
    }

    // セルのスタイル
    th {
      color: $table-header-text-color;
      background-color: $table-header-bg-color;
      border-bottom: solid 2px $table-border-color-02;
    }
    &.left-header th {
      color: inherit;
      background-color: inherit;
      border-bottom: none;
      text-align: right;
    }
    tr {
      color: $table-text-color;
      background-color: $table-bg-color;
    }
    &:not(.no-zebra) :is(
      thead ~ tbody > tr:is(:nth-child(even):not(.zebra-odd), .zebra-even),
      :not(thead ~ tbody) > tr:is(:nth-child(odd):not(.zebra-even), .zebra-odd)
    ) {
      background-color: $table-zebra-bg-color;
    }

    // 四隅のセルを角丸に
    :is(&, thead, tbody:not(thead ~ *)) > tr:first-of-type
    {
      :first-child {border-top-left-radius: $table-border-radius;}
      :last-child {border-top-right-radius: $table-border-radius;}
    }
    :is(:last-child > tr:last-child > :first-child, tr > .b.l):not(.c) {
      border-bottom-left-radius: $table-border-radius;
    }
    :is(:last-child > tr:last-child > :last-child, tr > .b.r):not(.c) {
      border-bottom-right-radius: $table-border-radius;
    }
  }

}


//
// Site Footer
//
.site-footer {
  // > * {border: solid 1px aqua;}
  border-top: solid 1px $brand-color;
  padding-top: $spacing-unit / 2;
  margin-bottom: $spacing-unit * 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // align-items: center;
  gap: $spacing-unit / 2;

  @media screen and (max-width: 680px) {
    nav.site-nav,
    .social-links {
      flex-grow: 1;
    }
  }

  ul.site-nav-list {
    // > * {border: solid 1px gold;}
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $spacing-unit / 2;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .copyright {
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
  }
}


// 画像を横に並べる
// _includes/images.html

.img-list {
  display: grid;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  grid-gap: 15px;
  justify-items: center;
}
.img-list img{
  width: 100%;
  max-width: 300px;
}

// youtube レスポンシブ

@media screen and (min-width: 480px) {
  .youtube-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    // grid-gap: 15px;
    justify-items: center;
  }
}

$youtube-width: 80%;

.youtube {
  position: relative;
  width: $youtube-width;
  padding-top: calc(#{$youtube-width} * 9 / 16);
  margin: 20px auto;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

// twitter
.twitter-tweet {
  // background-color: green;
  margin: auto;
  max-width: 300px !important;
  @media screen and (max-width: 350px) {
    display: none !important;
  }
  iframe {
    margin: 0 -10px;
    
  }
}
