//
// About
//

table {
  .right { // td
    text-align: right;
  }
  .active {
    min-width: 60px;
  }
  .month {
    // background-color: aquamarine;
    // color: $thm-color;
    min-width: 35px;
  }
}