//
// HOME
//

.home-top-area {
  position: relative;
  margin: 0 -20px; // .contents の margin
  display: grid;
  justify-items: center;

  img {
    width: 100%;
    z-index: 0;
  }

  .top-text {
    color: $text-color;
    // background-color: tomato;
    position: absolute;
    top: 10%;
    @media screen and (max-width: 400px) {
      font-size: 80%;
    }
  }
}



// info
.home-info-area {
  padding: 2.5% 0;
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
  justify-content: space-evenly;
  .item { // each news and twitter
    // background-color: aqua;
    max-width: 400px;
    flex: 1 0 300px;
    margin: 20px;
    .title {
      text-align: center;
      padding: 8px;
      font-size: .17rem;
      a {
        color: $text-color;
      }
      a:hover {
        color: $thm-color;
      }
    }
    .frame {
      // background: aqua;
      height: 300px;
      border: 1px solid $thm-color;
      border-radius: 6px;
      overflow: auto;
      -ms-overflow-style: none;    /* IE, Edge 対応 */
      scrollbar-width: none;       /* Firefox 対応 */
    }
    .frame::-webkit-scrollbar {  /* Chrome, Safari 対応 */
      display:none;
    }
  }
}


.home_news {
  padding: 5px 10px;
  padding-bottom: 7px;
  // border-bottom: solid 1px #aaa;
  .news-date {
    color: $text-color-sub;
    font-size: .14rem;
  }
  .news-title {
    color: $text-color;
    font-size: .14rem;
  }
}
.home_news:hover {
  // background-color: aqua;
  background-color: rgba(0,0,0,0.3);
}
.twitter-timeline {
  // background-color: tomato;
  // color: yellow;
}