//
// HOME
//
.home-img {
  position: relative;
}
.home-tesla {
  width: 100%;
  position: relative;
  z-index: -5;
}
.home-text {
  color: aqua;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

// info
.home-info {
  padding: 2.5% 0;
  display: flex;
  // flex-direction: row;
  // justify-content: space-evenly;
  // margin-bottom: 30px;
}
.info-block{ // each news and twitter
  width: 40%;
  margin: auto;
  // background-color: aqua;
}
.info-title {
  text-align: center;
}
.info-frame {
  // background: aqua;
  height: 300px;
  min-width: 300px;
  max-width: 400px;
  border: 2px solid tomato;
  border-radius: 6px;
  overflow: auto;
  // overflow-y: hidden;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}
.info-frame::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}
.home-news {
  padding: 5px 10px;
  // border-bottom: solid 1px #aaa;
  font-size: 12pt;
}
.info-news-pad .home-news:hover {
  // background-color: aqua;
  background-color: rgba(0,0,0,0.3);
}
.twitter-timeline {
  // background-color: tomato;
  // color: yellow;
}