
$brand-color:        lighten(#f82, 5%) !default;
$brand-color-sub:    #59f !default;

$text-color:         #eee !default;
$text-color-sub:     $brand-color-sub !default;

$bg-color:           #222 !default;
$bg-color-sub:       #444 !default;

$link-base-color:    $brand-color-sub !default;
$link-visited-color: $link-base-color !default;
$link-hover-color:   $brand-color !default;


@import
  "base",             // Defines element resets.
  "layout"            // Defines structure and style based on CSS selectors.
;
