//
//  main.scss
//  共通設定的な。
//

header {
  // border: solid 1px tomato;
  nav {
    // border: solid 1px tomato;
    margin: 20px;
    display: flex;
    .logo {
      display: block;
      // border: solid 1px aqua;
      height: 90px;
      margin-bottom: -90px;
      position: relative;
      z-index: 10; // 無いとcontentの下敷きに...
    }
    .logo:hover{
      text-decoration: none;
      opacity:0.9;
      // filter:alpha(opacity=80);
      // -ms-filter: "alpha( opacity=80 )";
    }
    .menu-list {
      // border: solid 1px aqua;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
      .menu {
        // border: solid 1px aqua;
        text-align: center;
        margin: 5px 5px;
        a{
          color: $text-color;
          padding: 2px 10px;
          border-radius: 30px;
          font-size: .17rem;
        }
        a:hover{
          background-color: $text-color;
          color: $bg-color;
        }
        .current {
          background-color: $text-color;
          color: $bg-color;
        }
      }
    }
  }

  h1 {
    // border: solid 1px aqua;
    margin: 0px;
    text-align: center;
  }
  .subtitle {
    font-size: 90%;
    padding-bottom: 5px;
  }
}

// 目次
// _includes/general/toc.html
.toc-area {
  display: flex;
  // background-color: greenyellow;
}
.toc-ul { // <ul>
  // background-color: red;
  // border-top: solid 2px $thm-color;
  // border-bottom: solid 2px $thm-color;
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.toc-li { // <li>
  // border: 1px solid aqua;
  padding: 0px 10px;
  list-style: none;
  // text-align: center;
  font-size: 10.5pt;
  flex: 1 0 1;
  // margin: auto;
}
.toc-a{
  // color: $thm-color;
  // border: 1px solid $thm-color;
  // padding: 0px 15px;
}


.contents {
  // border: solid 1px yellow;
  margin: 0px auto;
  padding: 0 20px;
  .content-pages{
    max-width: 800px;
    margin: 0px auto;
  }
}

section{
  margin: 0;
}

footer {
  margin: 30px 0px;
  border-top: solid 1px $thm-color;
  padding:10px;
  nav {
      display: block;
    a {
      display: inline-block;
      margin: 6px 10px;
    }
  }
  @media screen and (max-width: 680px) {
    nav{
      text-align: center;
    }
    .sns {
      text-align: center;
      margin: 5px 0;
    }
  }
  @media screen and (min-width: 680px) {
    nav{
      float: left;
    }
    .sns {
      text-align: right;
    }
  }
  .copyright {
    // background: aqua;
    text-align: center;
    font-size: .12rem;
    margin: 15px 0;
  }
}

//
// code block style
//
@import url(monokai.css);
// @import url(github.css);
.highlight, .highlighter-rouge{
  margin: 5px 0;
}
pre {
  // border: solid 1px aqua;
  margin: 0;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
}

// 画像を横に並べる
// _includes/images.html

.img-list {
  margin: 0 5%;
  display: grid;
  @media screen and (min-width: 480px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  grid-gap: 15px;
  justify-items: center;
}
.img-list img{
  background-color: tomato;
  width: 100%;
  max-width: 300px;
}

// youtube レスポンシブ

@media screen and (min-width: 480px) {
  .youtube-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    // grid-gap: 15px;
    justify-items: center;
  }
}

$youtube-width: 80%;

.youtube {
  position: relative;
  width: $youtube-width;
  padding-top: calc(#{$youtube-width} * 9 / 16);
  margin: 20px auto;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}