.wrapper{
  max-width: 1000px;
  min-width: 700px;
  margin: 0 auto;
}

header {
  background: tomato;
  // border-bottom: solid 1px blue;
}
.nav-area {
  display: flex;
}
.img-logo {
  width: 130px;
  margin-bottom: -80px;
  margin-right: -60px;
  // position: relative;
  // z-index: 0;
}
.img-logo:hover{
  text-decoration: none;
  opacity:0.9;
  // filter:alpha(opacity=80);
  // -ms-filter: "alpha( opacity=80 )";
}
.nav-list {
  // width: 700px;
  margin: auto;
  display: flex;
  // background-color: aqua;
}
.nav-menu {
  // background-color: #333;
  text-align: center;
  margin: 0 5px;
}
.nav-menu a{
  color: black;
  background-color: #fff;
  // padding-right: 10px;
  padding: 5px 10px;
  // border-radius: 100px;
  font-size: 14pt;
}
.nav-menu a:hover{
  background-color: aquamarine;
  color: #333;
}
.nav-menu .current {
  color: white;
  background-color: #333;
}

// .content {
//   display: flex;
// }
.contents {
  width: 90%;
  margin: auto;
  // padding-bottom: 100px;
}

footer {
  background: tomato;
  color: #111;
  margin-top: 30px;
}
footer .copyright {
  text-align: center;
  font-size: 80%;
}

// TOC
.toc-area {
  display: flex;
  // background-color: greenyellow;
  // border-top: solid 2px tomato;
  // border-bottom: solid 2px tomato;
  // width: 70%;
  // max-width: 500px;
  // min-width: 500px;
  // margin: auto;
}
.toc-ul { // <ul>
  // background-color: #fff;
  border-top: solid 2px tomato;
  border-bottom: solid 2px tomato;
  padding: 0;
  margin: auto;
  display: flex;
}
.toc-li { // <li>
  // border: 1px solid aqua;
  list-style: none;
  text-align: center;
  font-size: 10.5pt;
}
.toc-a{
  // color: tomato;
  // border: 1px solid tomato;
  padding: 0px 15px;
}

