//
//  main.scss
//  共通設定的な。
//

header {
  // background: $thm-color;
  // border-bottom: solid 1px blue;
  padding: 10px;
  .subtitle {
    font-size: 90%;
    padding-bottom: 5px;
  }
}
nav {
  // background-color: burlywood;
  margin: 0 10px;
  display: flex;
  .logo {
    // border: solid 1px aqua;
    height: 90px;
    margin-bottom: -70px;
    position: relative;
    z-index: 10; // 無いとcontentの下敷きに...
  }
  .logo:hover{
    text-decoration: none;
    opacity:0.9;
    // filter:alpha(opacity=80);
    // -ms-filter: "alpha( opacity=80 )";
  }
  .menu-list {
    // border: solid 1px aqua;
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    .menu {
      // border: solid 1px aqua;
      text-align: center;
      margin: 5px 5px;
      a{
        color: $text-color;
        padding: 2px 10px;
        border-radius: 30px;
        font-size: .17rem;
      }
      a:hover{
        background-color: $text-color;
        color: $bg-color;
      }
      .current {
        background-color: $text-color;
        color: $bg-color;
      }
    }
  }
}

.contents {
  // border: solid 1px yellow;
  margin: 0px auto;
  padding: 0 20px;
  .content-pages{
    max-width: 800px;
    margin: 0px auto;
  }
}

section{
  margin: 0;
}

footer {
  // margin: 0 10px;
  margin: 30px 0px;
  // padding-bottom: 30px;
  .wrap {
    // background-color: $bg-color-sub;
    border-top: solid 1px $thm-color;
    // border-bottom: solid 1px $thm-color;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    // grid-template-columns: 150px 300px;
    // grid-gap: 10px;
    padding:10px;
    .block {
      // border: solid 1px yellow;
      text-align: center;
      .item {
        margin: 3px 0;
      }
      .item-r {
        // border: solid 1px yellow;
        margin: 20px 0;
        // margin-bottom: 20px;
        .address:before {
          content: '◆';
          padding-right: 5px;
          font-size: 80%;
        }
        .address:after {
          content: '◆';
          padding-left: 5px;
          font-size: 80%;
        }
      }
    }
  } // wrap
  .copyright {
    // background: aqua;
    text-align: center;
    font-size: .12rem;
    margin: 10px 0;
  }
}


// 目次
// _includes/general/toc.html
.toc-area {
  display: flex;
  // background-color: greenyellow;
}
.toc-ul { // <ul>
  // background-color: red;
  // border-top: solid 2px $thm-color;
  // border-bottom: solid 2px $thm-color;
  padding: 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.toc-li { // <li>
  // border: 1px solid aqua;
  padding: 0px 10px;
  list-style: none;
  // text-align: center;
  font-size: 10.5pt;
  flex: 1 0 1;
  // margin: auto;
}
.toc-a{
  // color: $thm-color;
  // border: 1px solid $thm-color;
  // padding: 0px 15px;
}

//
// code block style
//
@import url(monokai.css);
// @import url(github.css);
.highlight, .highlighter-rouge{
  margin: 5px 0;
}
pre {
  // border: solid 1px aqua;
  margin: 0;
  padding: 10px 0;
  overflow-x: auto;
  overflow-y: auto;
  max-height: 500px;
}

// 画像を横に並べる
// _includes/images.html
.img-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 15px;
  img{
    display: block;
    margin: auto;
    max-width: 300px;
  }
}
