// member
.member-list {
  // border: solid 2px tomato;
  background-color: #555;
  border-radius: 30px;
  padding: 10px 20px;
  // font-size: 95%;
}
.member-list li{
  list-style: none;
}
.member-info {
  display: flex;
}
.member-info-icon {
  margin: auto 0;
  // border: solid 1px aqua;
  // background-color: azure;
  
}
.member-icon { // img
  height: 150px;
}
.member-info-list { // ul
  margin: 0 20px;;
  padding:0;
  // border: solid 1px aqua;
}
.member-massage {
  border-top: solid 1px #aaa;
  margin: 5px 0px 0px 0px ;
  // margin: 0;
  padding-top: 5px;
}

table .grade {
  border-top: solid 1px #aaa;
}
thead tr {
  // background-color: #ccc;
  // color: tomato;
  border-bottom: solid 2px tomato;
}
tbody {
  // text-align: center;
}