//
// member
//
.member_table {
  thead tr {
    // background-color: #ccc;
    // color: tomato;
    border-bottom: solid 2px $thm-color;
  }
  tbody {
    // text-align: center;
    .grade { // tr
      border-top: solid 1px #aaa;
    }
  }
}

.member_list {
  // border: solid 2px tomato;
  background-color: $bg-color-sub;
  border-radius: 30px;
  // padding: 10px 20px;
  padding: 0px 10px;
  width: 80%;
  margin: auto;
  font-size: 11pt;
  li {
    list-style: none;
  }
  .intro-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .icon {
      // border: solid 1px aqua;
      text-align: center;
      padding-top: 7px;
      margin: auto 0;
      min-width: 150px;
      flex: 1 1 150px;
      img {
        // border: solid 1px tomato;
        max-height: 150px;
        max-width: 100%;
      }
    }
    .intro { // ul
      // border: solid 1px aqua;
      flex: 4 1 280px;
      margin: 10px;
      padding: 0px;
    }
  }
  .massage {
    margin: 0px;
    border-top: solid 1px #aaa;
    padding: 10px 10px;
  }
}
