//
// member
//
.member_table {
  thead tr {
    // background-color: #ccc;
    // color: tomato;
    border-bottom: solid 2px $thm-color;
  }
  tbody {
    // text-align: center;
    .grade { // tr
      border-top: solid 1px #aaa;
    }
  }
}

.member_list {
  // border: solid 2px tomato;
  background-color: $bg-color-sub;
  margin: 0 auto;
  width: 90%;
  border-radius: 30px;
  padding: 10px;
  // padding: 0px 10px;
  font-size: 11pt;
  li {
    list-style: none;
  }
  .intro-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .icon {
      // border: solid 1px aqua;
      margin: auto 0;
      padding: 10px;
      height: 160px;
      flex: 1 1 150px;
      display: flex;
      img {
        // border: solid 1px tomato;
        display: block;
        margin: auto;
        max-height: 100%;
        max-width: 100%;
      }
    }
    .intro { // ul
      // border: solid 1px aqua;
      flex: 4 1 280px;
      margin: auto;
      padding: 0px 5px;
      li {
        line-height: 1.2em;
        padding: 0.2em 0;
      }
    }
  }
  .massage {
    margin: 0px;
    margin-top: 0.4em;
    border-top: solid 1px #aaa;
    padding: 0px 10px;
    padding-top: 0.4em;
  }
}
