.news_article {
  background-color: $bg-color-sub;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 20px;
  padding: 15px 20px;
  .news_date {
    color: $thm-color;
    font-size: .18rem;
  }
  .news_title { // h1
    margin: 5px 0;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: solid 2px #aaa;
    text-align: left;
    font-size: .2rem;
  }
  .news_content {
    // padding: 0px;
    // margin-bottom: -5px;
  }
}

