//
// News
//

$side-margin: 20px;

.news_article {
  background-color: $bg-color-sub;
  margin-top: 40px;
  // margin-bottom: 30px;
  border-radius: 20px;
  padding: 15px $side-margin;
  .news_date {
    color: $text-color-sub;
    font-size: .16rem;
  }
  .news_title { // h1
    margin: 5px 0;
    padding: 0;
    padding-bottom: 8px;
    border-bottom: solid 2px #aaa;
    text-align: left;
    font-size: .17rem;
  }
  .news_content {
    p {
      margin-left: 0;
      margin-right: 0;
    }
    // code block
    .highlight{
      font-size: 95%;
      margin: 5px -1*$side-margin;
      pre {
        margin: 0 15px;
        padding: 5px 0;
      }
    }
  }
}

