$bg-color: #333;
$bg-color-sub: #555;
// $bg-color-sub: #333;
$text-color: #fff;
$thm-color: tomato;
$a-color: #7f9;
$aho-color: tomato;


body {
  -webkit-text-size-adjust: 100%;
  font-family: 'ヒラギノ丸ゴ ProN W4', Meiryo, sans-serif, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, "M+ 1p";
  margin: 0;
  padding: 0;
  // background-color: #333;
  background-color: $bg-color;
  color: $text-color;
  // font-size: 12pt;
  font-size: 16px;
}

p {
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: $a-color;
}
a:hover {
  color: $aho-color;
}
h1 {
  text-align: center;
  margin-bottom: 0;
  // background-color: aqua;
}
h2 {
  // color: #0F9;
  background-color: $thm-color;
  border: solid 2px $thm-color;
  border-radius: 10px;
  padding: 5px;
  line-height: 1em;
  font-size: 17pt;
  // margin-top: 2em;
  // margin: 0;
}
h2:before, h2:after{
  // content: '💩';
  // padding-right: 0.5em;
}
h3 {
  // border-bottom: solid 2px $thm-color;
  border-left: solid 8px $thm-color;
  padding-left: 15px;
}

.table-space {
  // background-color: aqua;
  background-color: $bg-color-sub;
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 30px;
}
table {
  empty-cells: hide;
  border-collapse: collapse;
  border-spacing: 0;
  // border: solid 2px #fff;
  // width: 70%;
  width: 100%;
  margin: auto;
  // background-color: #00d;
  // border-radius: 30px;
  // padding: 10px;
}
tr, td{
  // border: solid 1px tomato;
  // margin: 0;
}
td {
  padding: 3px 8px;
}
