$bg-color: #333;
$bg-color-sub: #555;
// $bg-color-sub: #333;
$text-color: #fff;
$thm-color: tomato;
$a-color: #7f9;
$aho-color: tomato;


body {
  -webkit-text-size-adjust: 100%;
  font-family: 'ヒラギノ丸ゴ ProN W4', Meiryo, sans-serif, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, "M+ 1p";
  margin: 0;
  padding: 0;
  // background-color: #333;
  background-color: $bg-color;
  color: $text-color;
  // font-size: 12pt;
  font-size: 16px;
}

li {
  line-height: 1.6em;
}
a {
  text-decoration: none;
  color: $a-color;
}
a:hover {
  color: $aho-color;
}


p {
  margin: 5px 10px;
  padding: 0;
  line-height: 1.6em;
}
h1 {
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 0;
  // background-color: aqua;
}
h2 {
  // color: #0F9;
  // background-color: $thm-color;
  border: solid 2px $thm-color;
  border-radius: 20px;
  padding: 5px 15px;
  line-height: 1em;
  font-size: 17pt;
  // margin-top: 2em;
  // margin: 0;
}
h2:before, h2:after{
  // content: '💩';
  // padding-right: 0.5em;
}
h3 {
  // border-bottom: solid 2px $thm-color;
  border-left: solid 8px $thm-color;
  padding-left: 15px;
}
h4:before {
  content: '★';
  // content: '●';
  padding-right: 0.5em;
  color: yellow;
}
h4:after {
  content: '★';
  padding-left: 0.5em;
  color: yellow;
}
h5 {
  margin-bottom: 10px;
}
h5:before {
  // content: '★';
  content: '●';
  padding-right: 0.5em;
  color: tomato;
}

.table-space {
  // background-color: aqua;
  background-color: $bg-color-sub;
  width: 80%;
  max-width: 500px;
  margin: auto;
  padding: 5px 10px;
  border-radius: 30px;
}
table {
  // background-color: #00d;
  // border: solid 2px #fff;
  empty-cells: hide;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: auto;
}
tr {
  // border: solid 1px aqua;
}
th, td {
  padding: 5px 8px;
  // border: solid 1px tomato;
}
