$bg-color: #222;
$bg-color-sub: #444;
// $bg-color-sub: #333;
$text-color: #fff;
// $text-color-sub: #7f9;
$text-color-sub: #59f;
$thm-color: #f82;
$thm-color-sub: #59f;
$a-color: #59f;
// $aho-color: #fa5;
$aho-color: #f82;

html {
  font-size: 625%;
  // font-family: 'ヒラギノ丸ゴ ProN W4', Meiryo, sans-serif, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, "M+ 1p";
  font-family: 'Helvetica Neue', Helvetica, Arial, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, MS PGothic, sans-serif
}

body {
  -webkit-text-size-adjust: 100%;
  max-width: 1000px;
  min-width: 250px;
  margin: 0 auto;
  padding: 0;
  background-color: $bg-color;
  color: $text-color;
  font-size: .15rem;
}

li {
  // border: solid 1px tomato;
  margin: .07rem 0;
}
a {
  text-decoration: none;
  color: $a-color;
}
a:hover {
  color: $aho-color;
}


p {
  margin: 10px 10px;
  padding: 0;
  line-height: .2rem;
}
h1 {
  // background-color: aqua;
  margin-top: 25px;
  margin-bottom: 5px;
  text-align: center;
  font-size: .25rem;
}
h2 {
  // color: #0F9;
  // background-color: $bg-color-sub;
  margin-top: .20rem;
  border: solid 2px $thm-color;
  border-radius: 12px;
  padding: 5px 15px;
  font-size: .20rem;
  
  // margin: 0;
}
h2:before {
  // border-right: solid 2px $thm-color;
  // color: $thm-color;
  // content: '●';
  // padding-right: 0.5em;
}
h3 {
  border-left: solid 8px $thm-color-sub;
  padding-left: 15px;
  font-size: .18rem;
}
h4 {
  font-size: .16rem;
}
h4:before {
  content: '★';
  // content: '●';
  padding-right: 7px;
  color: yellow;
}
h4:after {
  content: '★';
  padding-left: 7px;
  color: yellow;
}
h5 {
  // border: solid 1px $thm-color;
  margin-bottom: 10px;
  font-size: .16rem;
}
h5:before {
  // content: '★';
  content: '●';
  padding-right: 0.5em;
  color: greenyellow;
}

.table-space {
  // background-color: aqua;
  background-color: $bg-color-sub;
  width: 80%;
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 10px;
  border-radius: 20px;
}
table {
  // background-color: #00d;
  // border: solid 2px #fff;
  empty-cells: hide;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: auto;
}
tr {
  // border: solid 1px aqua;
}
th, td {
  padding: 5px 8px;
  // border: solid 1px tomato;
}
