.gallery {
  border: solid 1px tomato;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  .item{
    border: solid 1px aqua;
    // text-align: center;
    margin: auto;
    img {
      display: block;
      // max-width: 100%;
      max-width: 200px;
      max-height: 200px;
      border: solid 1px tomato;
    }
  }
}