//
// member
//
table.member-hierarchy {
  white-space: nowrap;
  
  tr.grade > td:first-child,
  td:last-child {
    text-align: right;
  }

  tr.grade > td:is(:nth-child(2), :nth-child(3)),
  tr:not(.grade) > td:is(:nth-child(1), :nth-child(2)) {
    text-align: center;
  }
}

.member-card-area {
  margin-top: $spacing-unit;
  display: grid;
  gap: $spacing-unit;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;

  @include media-query($on-mobile) {
    gap: $spacing-unit / 2;
  }
}

.member-card {
  width: calc(100% - #{$spacing-unit});
  max-width: 360px;
  background-color: rgba(#000, .3);
  padding: ($spacing-unit / 3) ($spacing-unit / 2);
  border-radius: 10px;

  h3.name {
    margin: 0;
    font-size: 1.25rem;
    text-align: center;
  }

  img.icon {
    display: block;
    margin: 10px auto;
    height: 160px;
    max-width: 100%;
    border-radius: 8px;
  }

  ul.profile-list {
    margin: 0;
    list-style: none;

    li {
      margin-bottom: 5px;
    }
  }

  .heading {
    margin-right: 1em;
    font-size: 90%;
    color: orange;
  }
  h3.name .heading {
    font-size: 1rem;
  }

  .links-area {
    display: flex;
    justify-content: flex-end;

    a:hover {
      opacity: 0.7;
    }

    .fa-stack {
      font-size: 1.25rem;
      .fa-inverse {
        color: rgba(#fff, .8);
      }
      :not(.fa-inverse) {
        color: rgba(#000, .5);
      }
    }
  }

}

