//
// News
//
.news-wrap {
  padding-top: $spacing-unit / 2;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: $spacing-unit;
  // justify-items: center;
  
  // required content width: news-article width + side margins
  @media screen and (max-width: 350px + $spacing-unit * 2) {
    // cancel min-width of news-article
    grid-template-columns: 100%;
    // URLがうまく折り返さないので、これで強制する。
    word-break: break-all;
  }
}

.news-article {
  padding: $spacing-unit;
  border-radius: $spacing-unit / 2;
  background-color: $bg-color-sub;
  // font-size: 80%;
  box-shadow: $box-shadow;
}

.news-header {
  border-bottom: solid 2px #aaa;
  margin-bottom: $spacing-unit / 2;

  .date {
    // margin-bottom: $spacing-unit / 4;
    color: $text-color-sub;
    font-size: 1rem;
  }
  h1.title {
    margin-top: 0;
    margin-bottom: $spacing-unit / 4;
    font-size: 1.125rem;
  }
}
