//
// News
//
.news-wrap {
  display: grid;
  gap: $spacing-unit;
  
  // required content width: news-article width + side margins
  @media screen and (max-width: 350px + $spacing-unit * 2) {
    // cancel min-width of news-article
    grid-template-columns: 100%;
  }
}

.news-article {
  padding: $spacing-unit;
  border-radius: $spacing-unit / 2;
  background-color: $bg-color-sub;
  box-shadow: $box-shadow;

  @include media-query($on-mobile) {
    padding: $spacing-unit / 2;
  }

  a {
    // URLがうまく折り返さないので、これで強制する。
    word-break: break-all;
  }
}

.news-header {
  display: flex;
  flex-direction: column;
  gap: $spacing-unit / 4;

  .date {
    color: $text-color-sub;
    font-size: 1rem;
  }
  h1.title {
    margin: 0;
    font-size: 1.125rem;
  }
}

hr.news-separator {
  border-top: solid 2px #aaa;
  // border-top: solid 2px blue;
  margin: ($spacing-unit / 2) 0;
}
