//
// News
//

$side-margin: 20px;

.news-wrap {
  display: grid;
  grid-gap: 20px;
  // justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  @media screen and (max-width: 400px) {
    grid-template-columns: 100%;
  }
  // border: solid 1px tomato;
}
.news_article {
  background-color: $bg-color-sub;
  border-radius: 20px;
  padding: 15px $side-margin;
  .date {
    color: $text-color-sub;
    font-size: .16rem;
  }
  .title { // h1
    margin: 5px 0;
    padding: 0;
    padding-bottom: 8px;
    border-bottom: solid 2px #aaa;
    text-align: left;
    font-size: .17rem;
  }
  .content {
    p {
      margin-left: 0;
      margin-right: 0;
    }
    // code block
    .highlight{
      font-size: 95%;
      margin: 5px -1*$side-margin;
      pre {
        margin: 0 15px;
        padding: 5px 0;
      }
    }
  }
}
