{%- comment -%}

%% 使い方（Example）
    {% assign data = site.data.special.chirashi[0] %}
    {% include pages/gallery.html dir=data.dir files=data.images %}

    site.data.special.chirashi[0]:
      - dir: gallery/chirashi2018/
        images:
          - file: nkym1.jpg
            author: nkym
            title: Feynman

{%- endcomment -%}

<div class="gallery">
  {%- for img in include.files %}
  <figure class="item">
    <a href="{{ site.baseurl }}/assets/img/{{ include.dir }}{{ img.file }}">
      <img src="{{ site.baseurl }}/assets/img/{{ include.dir }}th-{{ img.file }}" alt="image by {{ img.author }}">
    </a>
    <figcaption>
      <table>
      {%- if img.title %}
      <tr>
        <td class="row1">テーマ：</td>
        <td class="row2">{{ img.title }}</td>
      </tr>
      {%- endif %}
      {%- if img.author %}
      <tr>
        <td class="row1">作者：</td>
        <td class="row2">{{ img.author }}</td>
      </tr>
      {%- endif %}
    </table>
    </figcaption>

  </figure>
  {%- endfor %}
</div>