{%- comment -%}

%%%%% 使い方 %%%%%

---
path2chirashi2019: gallery/chirashi2019/
chirashi2019:
  - [sj.jpg, sj, moe]
  - [nsmr.jpg, nsmr, フリー素材]
  - [nkym1.jpg, nkym, ラ！]
  - [nkym2.jpg, nkym, インターネット黎明期]
---
{% include pages/gallery.html path=page.path2chirashi2019 src=page.chirashi2019 %}

{%- endcomment -%}

<div class="gallery">
  {%- for img in include.src %}
  <div class="item">
    <a href="{{ site.baseurl }}/assets/img/{{ include.dir }}{{ img[0] }}">
      <img src="{{ site.baseurl }}/assets/img/{{ include.dir }}th-{{ img[0] }}" alt="image by {{ img[1] }}">
    </a>
    <table>
      <tr>
        <td class="row1">テーマ：</td>
        <td class="row2">{{ img[2] }}</td>
      </tr>
      <tr>
        <td class="row1">作者：</td>
        <td class="row2">{{ img[1] }}</td>
      </tr>
    </table>
  </div>
  {%- endfor %}
</div>