{%- comment -%}

%% 使い方（Example）
    {% assign data = site.data.special.chirashi[0] %}
    {% include pages/gallery.html dir=data.dir files=data.images %}

    site.data.special.chirashi[0]:
      - dir: gallery/chirashi2018/
        images:
          - file: nkym1.jpg
            author: nkym
            title: Feynman

{%- endcomment -%}

<div class="gallery">
  {%- for img in include.files %}
    <figure class="chirashi">
      {% assign dir = "assets/img/" | append: include.dir | relative_url %}
      <a href="{{ dir }}{{ img.file }}">
        <img src="{{ dir }}th-{{ img.file }}" alt="image by {{ img.author }}">
      </a>
      <figcaption>
        <table>
          <tbody>
            {%- if img.title %}
              <tr>
                <th>テーマ：</th>
                <td>{{ img.title }}</td>
              </tr>
            {%- endif %}
            {%- if img.author %}
              <tr>
                <th>作者：</th>
                <td>{{ img.author }}</td>
              </tr>
            {%- endif %}
          </tbody>
        </table>
      </figcaption>
    </figure>
  {%- endfor %}
</div>