{% for member in include.member-src %}
<h3>
  {% if member.position %}{{ member.position }}：{% endif %}{% if member.url %}<a href="{{ member.url }}" target="_blank">{{ member.name }}</a>{% else %}{{ member.name }}{% endif %}
</h3>
<div class="member_list">
  <div class="intro-block">
    <div class="icon">
        <img src="{{ site.baseurl }}/assets/img/member-icon/{% if member.icon %}{{ member.icon }}{% else %}default.png{% endif %}" alt="{{ member.name }}'s icon"/>
    </div>
    <div class="intro">
      <div class="item">{{ member.item1 }}</div>
      <div class="item">{{ member.item2 }}</div>
      <div class="item">{{ member.item3 }}</div>
      <div class="item">{{ member.item4 }}</div>
      <div class="item">{{ member.item5 }}</div>
      <div class="item">{{ member.item6 }}</div>
      <div class="item">{{ member.item7 }}</div>
    </div>
  </div>
  <div class="item massage">{{ member.massage }}</div>
</div>
{% endfor %}