{% for member in include.member-src %}
<h3>
  {% if member.position %}{{ member.position }}：{% endif %}{% if member.url %}<a href="{{ member.url }}">{{ member.name }}</a>{% else %}{{ member.name }}{% endif %}
</h3>
<div class="member_list">
  <div class="intro-block">
    <div class="icon">
        <img src="{{ site.baseurl }}/assets/img/member-icon/{% if member.icon %}{{ member.icon }}{% else %}_default.png{% endif %}" alt="{{ member.name }}'s icon"/>
    </div>
    <ul class="intro">
      <li>{{ member.item1 }}</li>
      <li>{{ member.item2 }}</li>
      <li>{{ member.item3 }}</li>
      <li>{{ member.item4 }}</li>
      <li>{{ member.item5 }}</li>
      <li>{{ member.item6 }}</li>
      <li>{{ member.item7 }}</li>
    </ul>
  </div>
  <p class="massage">{{ member.massage }}</p>
</div>
{% endfor %}