---
layout: default
---

<div class="home-top-area">
  <img src="{{ site.baseurl }}/assets/img/pages/tesla.jpg" alt="">
  <div class="top-text">
    {{ content }}
  </div>
</div>

<div class="wrapper">
  <div class="home-info-section">

    <div class="info-area">
      <div class="title">
        <a href="{{ site.baseurl }}/pages/news.html">News</a>
      </div>
      <div class="frame">
        {%- for post in site.posts %}
        <a href="{{ site.baseurl }}/pages/news.html#{{ post.url }}">
          <div class="home_news">
            <div class="news-date">{{ post.date | date: "%Y.%m.%d" }}</div>
            <div class="news-title">{{ post.title }}</div>
            {%- comment -%} <p>{{ post.excerpt }}</p> {%- endcomment %}
          </div>
        </a>
        {%- endfor %}
      </div>
    </div>

    {% if site.twitter_username %}
    <div class="info-area">
      <div class="title">
        <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a>
      </div>
      <div class="frame">
        <a class="twitter-timeline" data-lang="ja"
          data-theme="dark"
          data-border-color="#333"
          data-link-color="#f00"
          data-chrome="noheader nofooter transparent noborders noscrollbar"
          href="https://twitter.com/{{ site.twitter_username }}">
          Tweets by {{ site.twitter_username }}
        </a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    {% endif %}

  </div>
</div>