---
layout: default
---

<div class="home-top-area">
  <img src="{{ site.baseurl }}/assets/img/pages/tesla.jpg" alt="">
  <div class="top-text">
    {{ content }}
  </div>
</div>

<div class="home-info-section">
  <div class="info-area">
    <div class="title">
      <a href="{{ site.baseurl }}/pages/news.html">News</a>
    </div>
    <div class="frame">
      {%- include home/news-list.html %}
    </div>
  </div>
  <div class="info-area">
    <div class="title">
      <a href="https://twitter.com/vuccaken">Twitter</a>
    </div>
    <div class="frame">
      {%- include home/twitter.html %}
    </div>
  </div>
</div>